@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



/* ==========RESET========== */
*,
* ::before,
* ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    display: inline-block;
}

li {
    list-style-type: none;
}



/*========== VARIABLE========== */
:root {
    /* FONTS */
    /* font family */
    --FF-HEADINGS: "Roboto", serif;
    --FF-BODY: "Poppins", serif;
    /* font size - assist font from shrinking and growing*/
    /* (min, default, max) */
    --FS: clamp(1rem, 2.2vh, 1.5rem);


    /* COLORS */
    --BGCOLOR-LIGHT1: #feffff;
    --BGCOLOR-LIGHT2: #F5F5DC;
    --BGCOLOR-LIGHT3: #D2B48C;
    --BGCOLOR-DARK1: #8b4513;
    --BGCOLOR-DARK2: #5d2a1a;
    --BGCOLOR-DARK3: #333333;
    --FONT-COLOR-LIGHT: rgb(255, 255, 255);
    --FONT-COLOR-DARK: #232323;

    --LINK-HOVER: ;
    --LINK-ACTIVE: ;
    --LINK: ;

    /* BORDERS */
    --BORDER-COLOR: #333;
    --BORDER-RD-CONTACT: 15px;

    /*FLAT BLACK*/
    --BORDER: 2px solid var(--BGCOLOR-DARK3);

    /* STANDARD PADDING */
    --PADDING-TB: 0.25em;
    --PADDING-LR: 2.5%;

    /* STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}



/* ==========OVERALL LAYOUT/DESIGN========== */
body {
    width: 100%;
}

/* ========HEADER======== */
header {
    position: sticky;
    top: 0px;

    width: 100%;
    height: 80px;

    border-bottom: var(--BORDER);

    color: var(--BGCOLOR-LIGHT3);
    background-color: var(--BGCOLOR-DARK2);

    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    font-family: var(--FF-HEADINGS);
}

.HEADER__RIGHT,
.HEADER__LEFT,
.HEADER__SEARCH {
    display: flex;
    align-items: center;

    margin: 0 20px;
}


/* LEFT SIDE OF HEADER */
.HEADER__LEFT {
    min-width: 250px;
}

.HEADER__ICON {
    position: relative;
    top: 2px;

    margin-right: 2px;
}

/* ICON ON HEADER */
.HEADER__NAV_ICON {
    width: 30px;
    aspect-ratio: 1/1;
    object-fit: contain;

    margin-right: 20px;
}

.HEADER__TITLE {
    letter-spacing: 2px;
    cursor: pointer;
    white-space: nowrap;
}

/* MIDDLE SIDE OF HEADER */
.HEADER__SEARCH {

    background-color: var(--BGCOLOR-LIGHT3);

    margin: 20px 0;
    min-width: 200px;
    width: 1000px;

    box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HEADER__SEARCH_INPUT,.HEADER__SEARCH_BUTTON {
    color: var(--BGCOLOR-DARK3);
    border: none;
    background-color: transparent;
}

.HEADER__SEARCH_INPUT {
    flex: 1;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
    color: #000;
}

.HEADER__SEARCH_BUTTON {

    background: none;
    cursor: pointer;

    transition: transform 0.2s ease-in-out;

    display: flex;
    align-items: center;
    
    padding-right: 20px;
}

.HEADER__SEARCH_BUTTON:hover {
    transform: scale(1.1);
}






/* RIGHT SIDE OF HEADER */

.HEADER__UL {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    min-width: 160px;
}

.HEADER__UL li {
    display: flex;
    align-items: center;
}

.HEADER__SIGNUP,
.HEADING__CS_ICON,
.HEADING__NOTIF {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.HEADING__CS_ICON,
.HEADING__NOTIF {
    width: 30px;
    height: 30px;
    padding: 10px;

}

.HEADING__PROFILE {
    border-radius: 100%;
    font-size: 50px;
    cursor: pointer;
    margin-left: 10px;
}

.HEADING__CS_ICON:hover,
.HEADING__NOTIF:hover,
.HEADING__PROFILE:hover {
    transform: scale(1.1);
}

.HEADING__CS_ICON:hover,
.HEADING__NOTIF:hover {
    border-bottom: 5px solid var(--BGCOLOR-LIGHT3);
}












/* MENU ICON STYLE */
.HEADER__MENU_BUTTON {
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

.HEADER__MENU_BUTTON:hover {
    transform: scale(1.1);
}

.HEADER__MENU_ICON,
.HEADER__MENU_ICON::before,
.HEADER__MENU_ICON::after {
    background-color: var(--BGCOLOR-LIGHT3);
    width: 40px;
    height: 5px;
    border-radius: 5px;
    position: absolute; 
}

.HEADER__MENU_ICON::after,
.HEADER__MENU_ICON::before {
    content: "";
    transform: translate(-20px);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.HEADER__MENU_ICON::after {
    transform: translate(-20px, -12px);
}
.HEADER__MENU_ICON::before {
    transform: translate(-20px, 12px);
}

/* MENU ICON ANIMATION */
@keyframes ExpansionDown {
    100% {
        transform: translateX(-20px) rotate(45deg);
    }
}

@keyframes ExpansionUp {
    100% {
        transform: translateX(-20px) rotate(-45deg);
    }
}

@keyframes ExpansionLeft {
    100% {
        background-color: transparent;
        transform: rotate(360deg);
    }
}

/* When ACTIVE class is added (click 1st time) */
.HEADER__MENU_ICON.ACTIVE::before {
    animation: ExpansionUp 0.5s ease forwards;
}

.HEADER__MENU_ICON.ACTIVE::after {
    animation: ExpansionDown 0.5s ease forwards;
}

.HEADER__MENU_ICON.ACTIVE {
    animation: ExpansionLeft 0.5s ease forwards;
}


.HEADER__MENU_ICON.NOT_ACTIVE::before {
    animation: ExpansionUp 0.5s ease reverse;
}

.HEADER__MENU_ICON.NOT_ACTIVE::after {
    animation: ExpansionDown 0.5s ease reverse;
}

.HEADER__MENU_ICON.NOT_ACTIVE {
    animation: ExpansionLeft 0.5s ease reverse;
}



/* SIDEBAR */
.SIDEBAR {
    width: 250px;
    height: 100vh;

    background-color: var(--BGCOLOR-LIGHT1);

    border-right: var(--BORDER);

    position: absolute;
    /* Initially hidden */
    left: -250px;
    z-index: 1;
    transition: left 1s ease;
    /* Smooth transition for left property */
}

.SIDEBAR_SHOW {
    left: 0px;
}

.SIDEBAR__NAV {
    width: 100%;

    display: flex;
    border-bottom: 2px solid var(--BGCOLOR-DARK1);

    justify-content: center;
    cursor: pointer;
}

.SIDEBAR__NAV ul {
    width: 100%;
}

.SIDEBAR__NAV li {
    display: flex;
    justify-content: start;
    align-items: center;

    height: 50px;
    width: 100%;
    padding: 10px;
}

.SIDEBAR__NAV li:hover {
    transform: scale(1.1);
    background-color: var(--BGCOLOR-LIGHT1);
    box-shadow: 5px 5px 5px 1px var(--BGCOLOR-LIGHT3);
}


.SIDEBAR__IMAGE {
    width: auto;
    height: 80%;
    margin: 10px;

    aspect-ratio: 1/1;
}











/* ========MAIN======== */
main {
    height: 100%;

}


/* SIDEBAR */
.SIDEBAR {
    width: 250px;
    height: 100vh;

    background-color: var(--BGCOLOR-LIGHT1);

    border-right: var(--BORDER);

    position: fixed;
    /* Initially hidden */
    left: -250px;
    z-index: 1;
    transition: left 1s ease;
    /* Smooth transition for left property */
}

.SIDEBAR_SHOW {
    left: 0px;
}

.SIDEBAR__NAV {
    width: 100%;

    display: flex;
    border-bottom: 2px solid var(--BGCOLOR-DARK1);

    justify-content: center;
}

.SIDEBAR__NAV ul {
    width: 100%;
}

.SIDEBAR__NAV li {
    display: flex;
    justify-content: start;
    align-items: center;

    height: 50px;
    width: 100%;
    padding: 10px;

    list-style-type: none;
}

.SIDEBAR__NAV li:hover {
    transform: scale(1.1);
    background-color: var(--BGCOLOR-LIGHT1);
    box-shadow: 5px 5px 5px 1px var(--BGCOLOR-LIGHT3);
}


.SIDEBAR__IMAGE {
    width: auto;
    height: 80%;
    margin: 10px;

    aspect-ratio: 1/1;
}

