@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* 
DESKTOP: 1024
TABLET: 760
MOBILE: 468
*/

/* ==========RESET========== */
*,
* ::before,
* ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 100px;
}

img {
    display: block;
    max-width: 100%;
}

li {
    list-style-type: none;
}

a,
a:visited {
    font-family: var(--FF-BODY);
    font-weight: 500;
    text-decoration: none;
    color: var(--LINK);
}

a:is(:hover, :focus, :active) {
    color: var(--LINK-HOVER);
}

html {
    position: relative;
    height: 100%;
}

body {
    overflow-x: hidden;

    display: flex;
    flex-direction: column;

    height: 100vh;
}

header,
footer {
    font-family: var(--FF-HEADINGS);
}

main {
    font-family: var(--FF-BODY);
    /* let the main container takes up the rest of space */
    flex-grow: 1;
}

button {
    background-color: transparent;
    border: none;
}

.material-icons {
    color: white;
}



/*========== VARIABLE========== */
:root {
    /* FONTS */
    /* font family */
    --FF-HEADINGS: "Roboto", serif;
    --FF-BODY: "Poppins", serif;
    /* font size - assist font from shrinking and growing*/
    /* (min, default, max) */
    --FS: clamp(1em, 2.2vh, 1.5em);


    /* COLORS */
    --COLOR-LIGHT1: #ffffff;
    --COLOR-LIGHT2: #d5d5d5;
    --COLOR-LIGHT3: #a7a7a7;
    --COLOR-DARK1: #626262;
    --COLOR-DARK2: #333333;
    --COLOR-DARK3: #171717;
    --COLOR-BLUE1: #03045E;
    --COLOR-BLUE2: #0077B6;
    --COLOR-BLUE3: #90E0EF;
    --COLOR-BLUE4: #CAF0F8;


    /* Accent Colors for Features */
    --ACCENT-GREEN: #10b981;
    /* Success, completion */
    --ACCENT-YELLOW: #f59e0b;
    /* Warnings, pending */
    --ACCENT-RED: #ef4444;
    /* Errors, high priority */

    /* LINK */
    --LINK-HOVER: var(--COLOR-BLUE3);
    --LINK: var(--COLOR-LIGHT1);

    /* BORDERS */
    --BORDER-COLOR: #333;
    --BORDER-RD-CONTACT: 15px;

    /*FLAT BLACK*/
    --BORDER-DARK: 2px solid var(--COLOR-DARK3);
    --BORDER-LIGHT: 2px solid var(--COLOR-LIGHT2);

    /* STANDARD PADDING */
    /* em = relative to font size */
    --PADDING-TB: clamp(0.5em, 2vh, 1.2em);
    --PADDING-LR: clamp(1em, 3vw, 2em);

    /* STANDARD MARGIN */
    /* MIN - use 1em if lesser if 2.5vh is lesser than 1em */
    /* MAX - use 1.5em if 2.5vh is greater than 1.5em */
    --MARGIN: clamp(1em, 2.5vh, 1.5em);
    --MARGIN-CONTAINER-TB: 2rem;
    --MARGIN-CONTAINER-LR: 4rem;

    /* SHADOW */
    --SHADOW-WHITEBG: 8px 8px 15px hsla(0, 0%, 0%, 0.3);

    /* TRANSITION */
    --TRANS: all 1s ease;
}


/* ==========UTILITY========== */

@keyframes APPEAR {
    from {
        opacity: 0;
        scale: 0.7;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.DISPLAY {
    animation: APPEAR linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.FRONT {
    z-index: 100000;
}

.CENTER {
    text-align: center;
}

.CLICKABLE {
    transition: transform 0.1s ease;

    user-select: none;
}

.CLICKABLE:hover {
    cursor: pointer;
}

.CLICKABLE:active {
    transform: scale(1.2);
}

.KEYWORD {
    font-size: 2rem;
    color: var(--COLOR-BLUE1);
}

.CTA {
    background-color: var(--COLOR-BLUE2) !important;
}

.BOLD {
    font-weight: 800;
    font-size: 2rem;
}

.ARTICLE_TITLE {
    margin: var(--MARGIN) 0;

    width: 100%;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.ARTICLE_TITLE::after,
.ARTICLE_TITLE::before {
    content: "";

    flex-grow: 1;
    height: 4px;

    background-color: var(--COLOR-BLUE1);
}

.ARTICLE_TITLE::before {
    top: 50%;
    left: 0;
}

.ARTICLE_TITLE::after {
    top: 50%;
    right: 0;
}

/* For plans page */
.GREEN {
    color: var(--ACCENT-GREEN);
}

.RED {
    color: var(--ACCENT-RED);
}

.ENLARGE {
    transform: scale(1.1);
    box-shadow: var(--SHADOW-WHITEBG);
    transition: all 0.3s ease;
}

.ENLARGE2 {
    transform: scale(2);
    box-shadow: var(--SHADOW-WHITEBG);
    transition: all 0.3s ease;
}

/* ========HEADER======== */
header {
    position: sticky;
    top: 0px;

    width: 100%;
    height: 80px;

    border-bottom: var(--BORDER);

    color: var(--COLOR-LIGHT1);
    background-color: var(--COLOR-DARK2);

    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    font-family: var(--FF-HEADINGS);
}

.HEADER__RIGHT,
.HEADER__LEFT,
.HEADER__SEARCH {
    display: flex;
    align-items: center;

    margin: 0 20px;
}


/* LEFT SIDE OF HEADER */
.HEADER__LEFT {
    min-width: 250px;
}

.HEADER__ICON {
    position: relative;
    top: 2px;

    margin-right: 2px;
}

/* ICON ON HEADER */
.HEADER__NAV_ICON {
    width: 30px;
    aspect-ratio: 1/1;
    object-fit: contain;

    margin-right: 20px;
}

.HEADER__TITLE {
    letter-spacing: 2px;
    cursor: pointer;
    white-space: nowrap;
}

/* MIDDLE SIDE OF HEADER */
.HEADER__SEARCH {

    background-color: var(--COLOR-LIGHT1);

    margin: 20px 0;
    min-width: 200px;
    width: 750px;

    box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.HEADER__SEARCH_INPUT,
.HEADER__SEARCH_BUTTON {
    color: var(--COLOR-DARK2);
    border: none;
    background-color: transparent;
}

.HEADER__SEARCH_INPUT {
    flex: 1;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
}

.HEADER__SEARCH_BUTTON {

    background: none;
    cursor: pointer;

    transition: var(--TRANS);

    display: flex;
    align-items: center;

    padding-right: 20px;
}

.HEADER__SEARCH_BUTTON:hover {
    transform: scale(1.1);
}




/* RIGHT SIDE OF HEADER */

.HEADER__UL {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;

    min-width: 160px;
}

.HEADER__UL li {
    display: flex;
    align-items: center;
}

.HEADER__UL__ICON {
    transform: scale(1.2);
}

.HEADER__UL__ICON>.material-icons {
    padding: 0.5rem;
    border-radius: var(--BORDER-RD-CONTACT);
    transition: var(--TRANS);
}

.HEADER__UL__ICON:hover>.material-icons {
    color: var(--COLOR-BLUE3);
    background-color: var(--COLOR-DARK1);
}

/* add hover and click effect for icons
link to page/ create a page */




/* MENU ICON STYLE */
.HEADER__MENU_BUTTON {
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

.HEADER__MENU_BUTTON:hover {
    transform: scale(1.1);
}

.HEADER__MENU_ICON,
.HEADER__MENU_ICON::before,
.HEADER__MENU_ICON::after {
    background-color: var(--COLOR-LIGHT1);
    width: 40px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
}

.HEADER__MENU_ICON::after,
.HEADER__MENU_ICON::before {
    content: "";
    transform: translate(-20px);
    transition: var(--TRANS);
}

.HEADER__MENU_ICON::after {
    transform: translate(-20px, -12px);
}

.HEADER__MENU_ICON::before {
    transform: translate(-20px, 12px);
}

/* MENU ICON ANIMATION */
@keyframes ExpansionDown {
    100% {
        transform: translateX(-20px) rotate(45deg);
    }
}

@keyframes ExpansionUp {
    100% {
        transform: translateX(-20px) rotate(-45deg);
    }
}

@keyframes ExpansionLeft {
    100% {
        background-color: transparent;
        transform: rotate(360deg);
    }
}

@keyframes RevExpansionDown {
    100% {
        transform: translateX(-20px) rotate(0deg) translateY(12px);
    }
}

@keyframes RevExpansionUp {
    100% {
        transform: translateX(-20px) rotate(0deg) translateY(-12px);
    }
}

@keyframes RevExpansionLeft {
    100% {
        background-color: var(--COLOR-LIGHT1);
        transform: rotate(360deg);
    }
}

/* When ACTIVE class is added (click 1st time) */
.HEADER__MENU_ICON.ACTIVE::before {
    animation: ExpansionUp 0.5s ease forwards;
}

.HEADER__MENU_ICON.ACTIVE::after {
    animation: ExpansionDown 0.5s ease forwards;
}

.HEADER__MENU_ICON.ACTIVE {
    animation: ExpansionLeft 0.5s ease forwards;
}


.HEADER__MENU_ICON.NOT_ACTIVE::before {
    animation: RevExpansionUp 0.5s ease forwards;
}

.HEADER__MENU_ICON.NOT_ACTIVE::after {
    animation: RevExpansionDown 0.5s ease forwards;
}

.HEADER__MENU_ICON.NOT_ACTIVE {
    animation: RevExpansionLeft 0.5s ease forwards;
}






/* SIDEBAR */
.SIDEBAR {
    width: 250px;
    height: 100vh;

    background-color: var(--COLOR-DARK2);

    border-right: 3px solid var(--BORDER-COLOR);

    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    /* Initially hidden */
    left: -250px;
    z-index: 1;
    transition: left 1s ease;
    /* Smooth transition for left property */
}

.SIDEBAR_SHOW {
    left: 0px;
}

.SIDEBAR__NAV {
    width: 80%;
    padding: 0.5rem;

    color: var(--COLOR-LIGHT1);

    border-bottom: 2px solid var(--COLOR-DARK1);
}

.SIDEBAR__NAV>ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.SIDEBAR__ITEM_IMAGE {
    display: inline;
}

.SIDEBAR__ITEM {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
    transition: var(--TRANS);

    border-radius: var(--BORDER-RD-CONTACT);
}

.SIDEBAR__ITEM:hover {
    background-color: var(--COLOR-DARK1);
}

.NAV_TITLE {
    padding: var(--PADDING-TB) 0;
}

.COMMUNITY__ITEM {
    justify-content: space-between;
}





/* TODO: Todo Management */
.TODO {
    height: 100%;
}

/* TODO HEADING */
.TODO__HEADER {
    padding: var(--PADDING-TB) var(--PADDING-LR);
    border-bottom: 1px solid var(--BORDER-COLOR);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TODO__BUTTON {
    min-width: 10%;

    display: flex;
    gap: 1rem;
}

.TODO__ADD {
    font-family: var(--FF-HEADINGS);
    font-weight: 800;

    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 1rem;

    border-radius: var(--BORDER-RD-CONTACT);
    background-color: var(--COLOR-DARK1);
    color: var(--COLOR-LIGHT1);
    cursor: pointer;
    transition: var(--TRANS);
}

.TODO__ADD:hover {
    background-color: var(--COLOR-LIGHT3);
    color: var(--COLOR-DARK2);
}

/* TODO CONTENT */
.TODO__CONTAINER {
    background-color: var(--COLOR-DARK1);

    border-radius: var(--BORDER-RD-CONTACT);
    margin: var(--MARGIN);

    height: 70vh;
    padding: var(--PADDING-TB);

    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 1rem;
}

.TODO__CARD {
    background-color: var(--COLOR-BLUE3);
    color: var(--COLOR-DARK3);

    padding: var(--PADDING-TB) var(--PADDING-LR);
}

.TODO__CARD_HEADER {
    border-bottom: 2px solid var(--COLOR-BLUE1);

    margin-bottom: 1rem;
}

.TODO__GROUP__ADD {
    display: none;
    position: fixed;
    /* Fixed positioning relative to the viewport */
    top: 50%;
    /* Position 50% from the top */
    left: 50%;
    /* Position 50% from the left */
    transform: translate(-50%, -50%);
    /* Offset by 50% of the element's own width/height */
    background-color: white;
    /* Optional background color for the form */
    padding: 20px;
    /* Add some padding around the form */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Optional box-shadow */
    border-radius: 8px;
    /* Optional rounded corners */
}

.TODO__GROUP__ADD h2 {
    margin-bottom: 20px;
    /* Add space below the title */
}

#groupForm {
    display: flex;
    flex-direction: column;
    /* Stack form elements vertically */
}

#groupForm input,
#groupForm button {
    margin-bottom: 10px;
    /* Add space between form elements */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#groupForm button {
    background-color: #4CAF50;
    /* Green background color */
    color: white;
    /* White text */
    cursor: pointer;
    /* Pointer cursor on hover */
}

#groupForm button:hover {
    background-color: #45a049;
    /* Darker green on hover */
}





/* TODO: Calendar Page */

/* Header */
.CONTAINER {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.CALENDAR {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.CALENDAR__HEADER {
    display: flex;
    justify-content: space-between;
    margin: 0 var(--MARGIN-CONTAINER-LR);
}

.BUTTON__CONTAINER {
    /* background-color: var(--COLOR-BLUE3); */
    border: 1px solid var(--COLOR-DARK1);
    border-radius: 99px;

    display: flex;
}

.CALENDAR__HEADER__BUTTON {
    padding: calc(var(--PADDING-TB) - 0.5rem) calc(var(--PADDING-LR) - 0.5rem);

    transition: var(--TRANS);
}

.CALENDAR__HEADER__BUTTON:first-of-type {
    border-top-left-radius: var(--BORDER-RD-CONTACT);
    border-bottom-left-radius: var(--BORDER-RD-CONTACT);
}

.CALENDAR__HEADER__BUTTON:last-of-type {
    border-top-right-radius: var(--BORDER-RD-CONTACT);
    border-bottom-right-radius: var(--BORDER-RD-CONTACT);
}

.SELECTED_BUTTON {
    background-color: var(--COLOR-DARK2);
    color: var(--COLOR-LIGHT1);
}


/* Content */
.CALENDAR__CONTENT {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.CALENDAR__CONTENT__ITEM {
    margin: var(--MARGIN);
    padding: var(--PADDING-TB) var(--PADDING-LR);

    border-top: 1px solid var(--COLOR-DARK1);

    display: none;

    flex-grow: 1;
}

.CALENDAR__CONTENT_SHOW {
    display: block;
}