/* Phone */
@media (max-width: 468px) {
    html {
        min-width: 725px;
        min-height: 725px;
    }

    header {
        min-width: 722px;
        font-size: 1.5rem;
    }

    .HEADER__SEARCH {
        display: none;
    }

    .SIDEBAR {
        min-height: 100%;
        min-width: 100%;

        left: -800px;
    }

    .SIDEBAR_SHOW {
        left: 0;
    }

    .SIDEBAR,
    .HEADER__ICON,
    .HEADER__UL__ICON>span,
    .SIDEBAR__ITEM>span {
        font-size: 2rem;
    }

    /* TODO: CALENDAR PAGE */
    li::before {
        content: attr(data-mobile);
    }

    li span {
        display: none;
    }

    .CALENDAR__HEADER {
        font-size: 1.5rem;
    }

    .Header__Wording {
        font-size: 1.3rem;
    }

/* Account page */
.PROFILE {
    font-size: 1.4rem;
}

.INPUT__INPUT {
    width: 250px;
}
}

/* Tablet */
@media (min-width: 468px) and (max-width: 1024px) {
    html {
        min-width: 725px;
    }

    header {
        min-width: 722px;
    }

    .SIDEBAR {
        min-height: 100%;
    }

    .SIDEBAR_SHOW {
        left: 0;
    }

    /*TODO: CALENDAR PAGE */
    li::before {
        content: attr(data-tablet);
    }

    li span {
        display: none;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    html {
    }
}