/* Phone */
@media (max-width: 468px) {

    html {
        width: 100%;
        height: 100%;
    }

    header {
        min-width: 722px;
        font-size: 1.5rem;
    }

    .HEADER__SEARCH {
        display: none;
    }

    .SIDEBAR {
        min-height: 100%;
        min-width: 100%;

        left: -800px;
    }

    .SIDEBAR_SHOW {
        left: 0;
    }

    .SIDEBAR,
    .HEADER__ICON,
    .HEADER__UL__ICON>span,
    .SIDEBAR__ITEM>span {
        font-size: 2rem;
    }

    /* TODO: CALENDAR PAGE */
    li::before {
        content: attr(data-mobile);
    }

    li span {
        display: none;
    }

    .CALENDAR__HEADER {
        font-size: 1.5rem;
    }


    .Header__Wording {
        font-size: 1.3rem;
    }

    /* Account page */
    .PROFILE {
        font-size: 1.4rem;
    }

    .INPUT__INPUT {
        width: 250px;
    }


    /* Community page */
    .COMMUNITY1__MAIN {
        padding-right: 30px;
    }

    .COMMUNITY1 {
        position: relative;

        grid-template-rows: 100px 1fr;
        grid-template-columns: 1fr;

        width: 100%;
        overflow-x: hidden;
    }

    .COMMUNITY1__MEMBER {
        padding-left: calc(var(--PADDING-LR) + 50px);

        position: absolute;
        top: 0;
        right: 0;

        transform: translateX(430px);

        min-height: 100%;
        min-width: 400px;

        box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease-in-out;
    }

    .SHOW__MEMBER {
        transform: translateX(0);
    }

    .RESPONSIVE__MEMBER_BUTTON {
        display: block;
        position: absolute;
        left: 10px;
        top: 10px;
        cursor: pointer;
    }

    .DISPLAY__ICON {
        margin-right: 30px;
    }

    .COMMUNITY1__HEADER h1 {
        font-size: 1.3rem;
    }

    .COMMUNITY__HEADER__TITLE {
        transform: translateY(30px);
    }
}

/* Tablet */
@media (min-width: 468px) and (max-width: 1024px) {
    html {
        min-width: 725px;
        height: 100vh;
    }

    header {
        min-width: 722px;
    }

    .SIDEBAR {
        min-height: 100%;
    }

    .SIDEBAR_SHOW {
        left: 0;
    }


    /*TODO: CALENDAR PAGE */
    li::before {
        content: attr(data-tablet);
    }

    li span {
        display: none;
    }



    /* Community page */
    .COMMUNITY1__MAIN {
        padding-right: 30px;
    }

    .COMMUNITY1 {
        position: relative;

        grid-template-rows: 100px 1fr;
        grid-template-columns: 1fr;

        overflow-x: hidden;
    }

    .COMMUNITY1__MEMBER {
        padding-left: calc(var(--PADDING-LR) + 24px);

        position: absolute;
        top: 0;
        right: 0;

        transform: translateX(425px);

        height: 100%;
        min-width: 400px;

        box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease-in-out;
    }

    .SHOW__MEMBER {
        transform: translateX(0px);
    }

    .RESPONSIVE__MEMBER_BUTTON {
        display: block;
        position: absolute;
        left: 10px;
        top: 10px;
        cursor: pointer;
    }

    .DISPLAY__ICON {
        margin-right: 30px;
    }


}

/* Desktop */
@media (min-width: 1025px) {

    /* community page */
    .COMMUNITY1 {
        width: 100%;

        overflow-y: hidden;
    }

    .RESPONSIVE__MEMBER_BUTTON {
        display: none;
    }
}